<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>Login - Shop Admin</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container-fluid text-center">
		<div th:replace="navigation :: header_menu"></div>
		<div>&nbsp;</div>
		<div>
			<h2>Đăng nhập</h2>
		</div>

		<form th:action="@{/login}" method="post" class="mt-5"
			style="max-width: 350px; margin: 0 auto">
			<div th:if="${param.error}">
				<p class="text-danger">Tên tài khoản hoặc mật khẩu không đúng. (Hoặc tài khoản bị vô hiệu hóa)</p>
			</div>
			<div th:if="${param.logout}">
				<p class="text-warning">Bạn đã đăng xuất.</p>
			</div>
			<div class="border border-secondary rounded p-3">

				<p>
					<input type="email" name="email" class="form-control"
						placeholder="E-mail" required />
				</p>
				<p>
					<input type="password" name="password" class="form-control"
						placeholder="Mật khẩu" required />
				</p>
				<p>
					<input type="checkbox" name="remember-me" />&nbsp;Duy trì đăng
					nhập
				</p>
				<p>
					<input type="submit" value="Đăng nhập" class="btn btn-primary" />
				</p>
			</div>
		</form>
		<div>&nbsp;</div>
		<div th:replace="navigation :: footer_menu"></div>
	</div>
</body>
</html>