<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:fragment="footer" class="text-center m-3">
		<p>Shop Control Panel- Copyright &copy; Tran Tuan Anh</p>
	</div>
	<th
		th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)"
		th:remove="${removeTag}"><a class="text-white"
		th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? 'asc' : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnLabel}]] </a> <span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>
	<a th:fragment="page_link(moduleURL, pageNum, pageLabel)"
		class="page-link"
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		[[${pageLabel}]] </a>

	<div th:fragment="status(enabled, entityName, entityURL)"
		th:remove="tag">
		<a th:if="${enabled == true}"
			class="fa-solid fa-circle-check fa-2x icon-black"
			th:href="@{${entityURL} + '/enabled/false/'+ ${currentPage} + '/'  + ${keyword != null ? 'sortField=' + sortField + '&sortDir=' + sortDir + '&keyword=' + keyword : 'sortField=' + sortField + '&sortDir=' + sortDir}}"
			th:title="'Vô hiệu hóa ' + ${entityName} + ' này'"></a> <a
			th:if="${enabled == false}"
			class="fa-solid fa-circle fa-2x icon-silver"
			th:href="@{${entityURL} + '/enabled/true/'+ ${currentPage} + '/' + ${keyword != null ? 'sortField=' + sortField + '&sortDir=' + sortDir + '&keyword=' + keyword : 'sortField=' + sortField + '&sortDir=' + sortDir}}"
			th:title="'Kích hoạt ' + ${entityName} + ' này'"></a>
	</div>

	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fa-solid fa-pen-to-square fa-2x icon-black"
			th:href="@{${editURL}}"
			th:title="'Chỉnh sửa ' + ${entityName} + ' này'"></a>
	</div>

	<div th:fragment="delete(entityName, entityId, deleteURL, visible)"
		th:remove="tag">
		<th:block th:if="${visible}">
			<a class="fa-solid fa-trash fa-2x icon-black link-delete"
				th:href="@{${deleteURL}}" th:entityId="${entityId}"
				th:title="'Xóa ' + ${entityName} + ' này'"></a>
		</th:block>

	</div>


	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems>0}">
			<span>#[[${startCount}]] to #[[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems>0}">
			<span>Không tồn tại [[${entityName}]] nào</span>
		</div>
		<div th:if="${totalItems > 4}" )>
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li
						th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
						<a
						th:replace="fragments :: page_link(${moduleURL}, 1, 'Đầu tiên')" />
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
						<a
						th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Trước')" />
					</li>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})" /></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
						<a
						th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Sau')" />
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
						<a
						th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Cuối cùng')" />
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div th:fragment="search_form_and_message(moduleURL)">
		<form th:action="@{${moduleURL}}" class="form-inline m-3">
			<input type="hidden" name="sortField" th:value="${sortField}" /> <input
				type="hidden" name="sortDir" th:value="${sortDir}" /> Tìm
			kiếm:&nbsp; <input type="search" name="keyword" th:value="${keyword}"
				class="form-control" required /> &nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary"
				onclick="clearFilter()">
				<i class="fa-solid fa-xmark"></i>
			</button>
		</form>
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>
	</div>

</body>
</html>